.appHeader .menu {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.appbar {
  background: #ed4242;
}

.arrow {
  margin-right: 0.5rem;
}

.sideMenuItems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
