.filter-container {
  justify-content: center;
}

.post-wrapper {
  height: 100%;
  flex-flow: column nowrap;
}

.recent-container {
  margin-top: 1rem;
}

.bg-color {
  background: silver;
}

.posts-container,
.post-wrapper,
.filter-container,
.loading-container {
  display: flex;
}

.posts-paper {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.posts-container {
  flex-flow: column-reverse nowrap;
  padding-bottom: 10vh;
}

.recent-subtitle {
  margin: 0 1rem;
  border-bottom: 1px solid #ed4242;
  padding: 1rem;
}

.loading-container {
  height: 80vh;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.page-loader {
  margin: 1.75rem;
}

.loading-text {
  color: #fff;
}

li {
  margin: 0.75rem 0;
  list-style-type: decimal;
  text-align: left;
  font-size: 0.75rem;
}

ol {
  list-style: disc;
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.share-container {
  width: 100%;
  height: 10vh;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  opacity: 0.9;
}

.share-fields {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.share-clicked {
  animation: share-expand 0.2s ease-in-out;
  height: 75vh;
}

.share-collapsed {
  height: 10vh;
  animation: share-collapsed 0.2s ease-in-out;
}

.share-bar {
  height: 10vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #3c3737;
  border-top: #ed4242 5px solid;
  position: relative;
}

.share-button {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 0;
}

@keyframes share-expand {
  0% {
    height: 10vh;
  }
  20% {
    height: 25vh;
  }
  40% {
    height: 37.5vh;
  }
  60% {
    height: 50vh;
  }
  80% {
    height: 62.5vh;
  }
  100% {
    height: 75vh;
  }
}
@keyframes share-collapsed {
  0% {
    height: 75vh;
  }
  20% {
    height: 62.5vh;
  }
  40% {
    height: 50vh;
  }
  60% {
    height: 37.5vh;
  }
  80% {
    height: 25vh;
  }
  100% {
    height: 10vh;
  }
}
