.filter-container {
  display: flex;
  justify-content: center;
}

.post-wrapper {
  margin: 1rem;
}

.recent-container {
  margin-top: 1rem;
}

.posts-container,
.posts-social-icons-container,
.posts-footer,
.posts-social-list {
  display: flex;
}

.posts-social-list {
  align-items: center;
}

.recent-subtitle {
  margin: 0 1rem;
  border-bottom: 1px solid #ed4242;
  padding: 1rem;
}

.recent-list-item {
  margin-top: 0;
}

.posts-to {
  margin: 0.5rem;
  align-self: flex-start;
}
.posts-body {
  margin: 1rem;
}
.posts-from {
  margin-right: 0.5rem;
  line-height: 1.5rem;
}

.posts-footer {
  display: flex;
  justify-content: space-between;
}

.posts-footer-left {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.posts-footer-right {
  display: flex;
  align-items: center;
}

.posts-social-list-item {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 1rem;
}

li {
  margin: 0.75rem 0;
  list-style-type: decimal;
  text-align: left;
  font-size: 0.75rem;
}

ol {
  list-style: disc;
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}
