.posts-from,
.posts-to {
  margin-right: 0.5rem;
  line-height: 1.5rem;
}

.posts-header {
  align-items: center;
  justify-content: space-between;
}

.posts-social-icons-container,
.posts-footer,
.posts-footer-left,
.posts-footer-right,
.post-item-container,
.posts-header,
.posts-header-left,
.posts-header-right {
  display: flex;
}

.posts-footer {
  justify-content: space-between;
  margin-top: 0.5rem;
}

.posts-footer-left {
  width: 75%;
  justify-content: space-between;
}

.posts-footer-right {
  align-items: center;
}

.post-item-container {
  min-height: 10vh;
  width: 100%;
  text-align: left;
  flex-flow: column nowrap;
  margin: 2px 0;
  font-size: 0.75rem;
  padding: 0.75rem;
}

.posts-social-icons-container {
  width: 100%;
}
