.tab {
    font: 36px;
    padding-top: 20px;
    margin-bottom: 16px;
    font-weight: 400;
    color: white;
}

.user-image-and-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 110px;
}

.card-structure {
    display: flex;
}

.card-left {
    width: 65%;
}

.card-right {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 35%;
    }

.stats {
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
}