/*.profile-card {
    margin-bottom: 20px;
}*/

.tab {
    font: 36px;
    padding-top: 20px;
    margin-bottom: 16px;
    font-weight: 400;
    color: white;
}

.card-structure {
    display: flex;
}

.card-left {
    width: 65%;
}

.card-right {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 35%;
}

.stats {
    display: flex;
    justify-content: space-around;
}