.share-container {
  width: 100%;
  height: 10vh;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  opacity: 0.9;
  background: #3c3737;
  display: flex;
  flex-flow: column nowrap;
}

#compliment-form {
  margin: auto;
  padding: 0 1rem;
  width: 100%;
}

.share-fields {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.share-clicked {
  animation: share-expand 0.2s ease-in-out;
  height: 75vh;
}

.share-collapsed {
  height: 10vh;
  animation: share-collapsed 0.2s ease-in-out;
}

.share-bar {
  height: 10vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #3c3737;
  border-top: #ed4242 5px solid;
  position: relative;
}

.share-button {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 0px;
  text-shadow: 1px 2px 1px black;
}

.button-bounce {
  animation: share-bounce 1.25s linear infinite;
}

.hide {
  display: none;
}

@keyframes share-bounce {
  0% {
    top: 0;
  }
  25% {
    top: 3px;
  }
  50% {
    top: 0;
  }
  75% {
    top: -3px;
  }
  100% {
    top: 0px;
  }
}

@keyframes share-expand {
  0% {
    height: 10vh;
  }
  20% {
    height: 25vh;
  }
  40% {
    height: 37.5vh;
  }
  60% {
    height: 50vh;
  }
  80% {
    height: 62.5vh;
  }
  100% {
    height: 75vh;
  }
}
@keyframes share-collapsed {
  0% {
    height: 75vh;
  }
  20% {
    height: 62.5vh;
  }
  40% {
    height: 50vh;
  }
  60% {
    height: 37.5vh;
  }
  80% {
    height: 25vh;
  }
  100% {
    height: 10vh;
  }
}
