.suggestions-box {
    margin: 15px;
    padding: 10px;
}

.suggestions-header {
    margin: 10px 0px;
}

.suggestions-header p {
    font-size: 14px;
    text-align: center;
}

.suggestions-cycle {
    margin-top: 10px;
    font-style: italic;
    border: 1px solid red;
    padding: 10px;
}