.loginContainer {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.quotesContainer {
    color: #fff;
    position: absolute;
    margin-bottom: 50px;
    bottom: 0;
    padding: 0 1rem 2rem;
    text-align: center;
}

.quotes-text p {
    font-size: 21px;
}

.login-logo img {
    height: 200px;
}

