.settingsContainer {
    padding: 0 1rem 1rem;
}
.changePhoto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
.changePasswordBtn {
    margin: 1rem 0;
}
.passwordTextField {
    margin: 0.5rem 0;
}